[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QtOpcLogger
Exec=/usr/bin/single-instance /opt/QtOpcLogger/bin/QtOpcLogger
Icon=/usr/share/icons/hicolor/80x80/apps/QtOpcLogger80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
